################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SerialV2/RemoteSerialDemo/bin/Debug
/SerialV2/RemoteSerialDemo/obj/Debug
*.user
/SerialV2/RemoteSerialDemo/.vs
